@import media.sass
  
.navbar
    padding-top: 15px
    &_header
        width: 1200px
        color: #000000
        font-family: Roboto
        font-size: 27px
        font-weight: 500
        font-style: normal
        letter-spacing: normal
    &_logo
        width: 51px
        height: 122px
        margin-right: 10px
    &_active
        // width: 1172px
        color: #000000
        font-family: Roboto
        font-size: 27px
        font-weight: 200
        line-height: 1
    &_icon
        &_eye
            width: 49px
            height: 29px
            margin-right: 15px
    &_subnav
        list-style: none
        
        

        &_item
            margin-right: 10px
            &:hover
                -webkit-transform: scale(1.1)
                -ms-transform: scale(1.1)
                transform: scale(1.1)

.carousel
    &-caption
        top: 30%
        bottom: auto
    &_title
        font-family: Roboto
        font-style: normal
        font-weight: bold
        font-size: 72px

.news
    padding-top: 10px
    &_title
        font-family: Roboto
        font-style: normal
        font-weight: 500
        font-size: 64px

.card
    &-img
        &-top
            height: 200px

.poster
    padding-top: 10px
    &_title
        font-family: Roboto
        font-style: normal
        font-weight: 500
        font-size: 64px
    &_item
        &_title
            color: white
            font-family: Roboto
            font-style: normal
            font-weight: 500
            font-size: 34px
            top: 30%

.projects
    // display: none
    padding-top: 10px
    &_title
        font-family: Roboto
        font-style: normal
        font-weight: 500
        font-size: 64px
    &_item
        object-fit: cover
        &_wrapper
            border: solid 1px red
            width: 100%
            
        &_title
            color: white
            font-family: Roboto
            font-style: normal
            font-weight: 500
            font-size: 64px
            top: 30%

.footer
    padding-top: 10px
    &_subnav
        &_item
            font-size: 12px
    &_main
        padding-top: 10px
        padding-bottom: 20px
        height: 100%
        background: #494949
        color: white
        &_text
            margin-top: 30px
            font-family: 'Roboto', sans-serif
            font-style: normal
            font-weight: normal
            font-size: 15px
            // line-height: 138%
            color: #F9F9F9
            &_icons
                margin-top: 40px
                &_item
                    font-size: 30px
                    margin-right: 5px



@import media.sass
